In [31]:
import pandas as pd
import numpy as np

# √âTAPE 1 : Chargement et exploration initiale des donn√©es

### 1. Chargement du dataset

In [58]:
df = pd.read_csv(
    r"C:\Users\BOUQALLABA-TOUMMINI\Desktop\Projects DU Data Analytics\projet Data Manag\data.csv",
    encoding='ISO-8859-1')

### 2. Aper√ßu des premi√®res lignes

In [33]:
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

### 3. Dimensions du dataset (lignes, colonnes)

In [34]:
df.shape

(541909, 8)

Cela signifie que notre jeu de donn√©es contient 541 909 entr√©es individuelles, chacune d√©crite par 8 caract√©ristiques diff√©rentes (comme InvoiceNo, StockCode, Quantity, etc.).

### 4. Informations sur les types de donn√©es

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

 Description et CustomerID contiennent des valeurs manquantes √† traiter.

La colonne InvoiceDate est de type object, il faudra la convertir en datetime pour les analyses temporelles.

Le jeu de donn√©es occupe environ 33.1 Mo en m√©moire.

### 5. R√©sum√© statistique des colonnes num√©riques

In [36]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

Des valeurs aberrantes sont pr√©sentes dans Quantity et UnitPrice ‚Üí √† nettoyer.

CustomerID a de nombreuses valeurs manquantes, √† traiter selon l‚Äôanalyse souhait√©e.

Il est important de filtrer ou corriger les valeurs extr√™mes avant toute mod√©lisation ou visualisation.

### 6. Typologie des colonnes

In [37]:
print("Types de colonnes :\n", df.dtypes)

Types de colonnes :
 InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

### 7. V√©rification des valeurs manquantes

In [38]:
# Total des valeurs manquantes par colonne
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

 Interpr√©tation :
‚úÖ La plupart des colonnes n'ont pas de valeurs manquantes, ce qui est tr√®s bon pour l‚Äôanalyse.

‚ö†Ô∏è La colonne Description a 1 454 lignes manquantes, ce qui repr√©sente moins de 0.3 % du dataset ‚Üí on peut envisager de supprimer ces lignes.

‚ö†Ô∏è La colonne CustomerID a 135 080 valeurs manquantes, soit environ 25 % du dataset :

Il faut d√©cider : les supprimer, les remplacer (ex : par une valeur fictive), ou les garder si on n‚Äôanalyse pas le client.

In [39]:
# Pourcentage de valeurs manquantes
(df.isnull().sum() / len(df)) * 100

InvoiceNo       0.000000
StockCode       0.000000
Description     0.268311
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
CustomerID     24.926694
Country         0.000000
dtype: float64

 Interpr√©tation :
‚úÖ La majorit√© des colonnes ne contiennent aucune valeur manquante.

‚ö†Ô∏è Description pr√©sente un faible taux de valeurs manquantes (0.27 %) ‚Üí on peut supprimer ces lignes sans risque majeur pour l‚Äôanalyse.

‚ö†Ô∏è CustomerID pr√©sente pr√®s de 25 % de valeurs manquantes, ce qui est significatif :

Si l‚Äôanalyse repose sur le client, il faudra supprimer ou imputer.

Sinon, on peut conserver ces lignes pour des analyses globales sur les ventes.

In [40]:
#Afficher combien de valeurs n√©gatives il y a
print("Quantit√©s n√©gatives :", (df['Quantity'] < 0).sum())
print("Prix unitaires n√©gatifs ou nuls :", (df['UnitPrice'] <= 0).sum())

Quantit√©s n√©gatives : 10624
Prix unitaires n√©gatifs ou nuls : 2517

Que faire ?
Pour les quantit√©s n√©gatives :

Si tu veux √©tudier uniquement les ventes, tu peux supprimer ces lignes.

Sinon, tu peux garder ces donn√©es et les analyser s√©par√©ment comme retours.

Pour les prix unitaires n√©gatifs ou nuls :

Les prix nuls peuvent √™tre ignor√©s si ce sont des √©chantillons gratuits.

Les prix n√©gatifs sont souvent des erreurs, il vaut mieux les exclure ou les v√©rifier.

### 8. D√©tection des doublons

In [41]:
# Nombre de doublons
df.duplicated().sum()

np.int64(5268)

üîÅ Doublons dans le jeu de donn√©es
La commande df.duplicated().sum() indique que 5 268 lignes du dataset sont des doublons exacts.

üëâ Cela signifie que ces lignes sont strictement identiques √† d'autres lignes (m√™me facture, m√™me produit, etc.).

üí° Ces doublons doivent g√©n√©ralement √™tre supprim√©s pour √©viter de fausser les analyses (ventes, clients, produits‚Ä¶).

### 9.Analyse des variables cat√©gorielles

In [42]:
### Liste des colonnes de type objet (souvent cat√©gorielles)
df.select_dtypes(include='object').columns

Index(['InvoiceNo', 'StockCode', 'Description', 'InvoiceDate', 'Country'], dtype='object')

cela permet d‚Äôidentifier les colonnes dont le type est object, c'est-√†-dire souvent :

des cha√Ænes de caract√®res (str)

ou des donn√©es non num√©riques (parfois mal typ√©es)

# Etape 2 : Nettoyage et pr√©paration des donn√©es


L'objectif de cette section est de nettoyer le jeu de donn√©es afin d'assurer la fiabilit√© de nos analyses. Nous allons :
- Supprimer les lignes incoh√©rentes (prix n√©gatif, quantit√© nulle, etc.)
- √âliminer les doublons
- G√©rer les valeurs manquantes
- Convertir les types de donn√©es
- Ajouter des colonnes utiles (ex. : montant total, date transform√©e)

### 1. Suppression des lignes avec des valeurs incoh√©rentes


Les quantit√©s inf√©rieures ou √©gales √† z√©ro correspondent g√©n√©ralement √† des retours, des erreurs de saisie ou des commandes annul√©es. Pour une analyse des ventes nettes, ces lignes ne sont pas conserv√©es.

In [59]:
# Supprimer les lignes avec Quantity <= 0 (commandes annul√©es, retours, erreurs)
#df = df[df['Quantity'] > 0]

Un `UnitPrice` de 0 ou moins est une anomalie (produits offerts, erreurs, etc.). Ces lignes sont retir√©es pour ne pas biaiser le chiffre d'affaires.

In [60]:
# Supprimer les lignes avec UnitPrice <= 0 (produits gratuits ou erreurs)
df = df[df['UnitPrice'] > 0]

### 2. Suppression des doublons

Les doublons exacts (m√™mes valeurs sur toutes les colonnes) peuvent r√©sulter d‚Äôune erreur d‚Äôexport ou de saisie multiple. On les supprime pour √©viter de fausser les analyses.

In [45]:
df.drop_duplicates(inplace=True)

In [46]:
print("Nombre de doublons apr√®s suppression :", df.duplicated().sum())

Nombre de doublons apr√®s suppression : 0

 ### 3. Nettoyage des valeurs manquantes

Suppression des lignes sans `InvoiceDate`

Les lignes sans date de facture (`InvoiceDate = NaT`) ne peuvent pas √™tre utilis√©es dans les analyses temporelles (chiffre d‚Äôaffaires par mois, tendances, etc.). Par cons√©quent, elles sont supprim√©es du dataset principal, mais conserv√©es dans un fichier √† part pour une √©ventuelle revue manuelle.

- `InvoiceDate` est convertie en objet datetime pour permettre l'analyse temporelle.

In [47]:
df = df[df['InvoiceDate'].notnull()]

In [61]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     132603
Country             0
dtype: int64

### 4. Conversion des types de donn√©es (exemple : InvoiceDate)

In [49]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], dayfirst=True, errors='coerce')

In [19]:
print("Types de colonnes :\n", df.dtypes)

Types de colonnes :
 InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

### 5. g√©rer les lignes sans identifiant client (`CustomerID`)

`CustomerID` est indispensable pour toutes les analyses client (segmentation, fid√©lit√©...). Les lignes sans identifiant sont supprim√©es.

Nous avons choisi de conserver deux versions du dataset :
- `df_all` : contient toutes les transactions, m√™me anonymes. Cela permet d'analyser les ventes totales, produits et volumes.
- `df_clients` : contient uniquement les lignes avec un identifiant client, afin d'explorer les comportements clients (RFM, r√©tention, etc.).

In [50]:
df_all = df.copy()
df_clients = df[df['CustomerID'].notnull()].copy()

In [51]:
df_all.isnull().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate    299455
UnitPrice           0
CustomerID     132186
Country             0
dtype: int64

In [52]:
df_clients.isnull().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate    226329
UnitPrice           0
CustomerID          0
Country             0
dtype: int64

- `CustomerID` est converti en int apr√©s avoir supprimer les valeurs manquantes pour df_clients

In [53]:
df_clients['CustomerID'] = df_clients['CustomerID'].astype(int)

In [54]:
print("Types de colonnes :\n", df_clients.dtypes)

Types de colonnes :
 InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID              int64
Country                object
dtype: object

# Etape 3 : Cr√©action des variables

### Cr√©ation de la variable `TotalPrice`

Nous avons cr√©√© une variable **`TotalPrice`** afin de calculer le **montant total de chaque ligne de transaction**.

Cette variable est obtenue en multipliant :
- `Quantity` (le nombre d‚Äôunit√©s command√©es)
- `UnitPrice` (le prix unitaire du produit)

In [66]:
# Cr√©ation de la variable TotalPrice = quantit√© * prix unitaire
df_all['TotalPrice'] = df_all['Quantity'] * df_all['UnitPrice']

In [57]:
df_all.head(2)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom,20.34

### Cr√©ation des variables `IsReturn` et `IsCancelled`

Pour mieux analyser la qualit√© de service et le comportement des clients, nous avons cr√©√© deux variables d√©riv√©es :

- **`IsReturn`** : identifie si une ligne de transaction correspond √† un retour produit.  
  ‚Üí Une quantit√© n√©gative (`Quantity < 0`) indique g√©n√©ralement un retour, ce qui est fr√©quent dans les ventes en ligne.

- **`IsCancelled`** : indique si la facture a √©t√© annul√©e.  
  ‚Üí Les num√©ros de facture annul√©s commencent par la lettre **"C"** dans le dataset (ex : "C536379"), selon la documentation du fournisseur de donn√©es.

Ces deux variables permettent :
- D‚Äôexclure facilement les retours si n√©cessaire (par exemple pour analyser uniquement les ventes r√©ussies).
- De mesurer le **taux de retour**, un indicateur cl√© de satisfaction et de qualit√© produit.
- D'identifier les **produits les plus retourn√©s ou annul√©s**, ce qui peut signaler des probl√®mes de qualit√© ou de logistique.

In [64]:
# Cr√©ation de la variable IsReturn : True si la quantit√© est n√©gative
df_all['IsReturn'] = df_all['Quantity'] < 0

# Cr√©ation de la variable IsCancelled : True si le num√©ro de facture commence par 'C'
df_all['IsCancelled'] = df_all['InvoiceNo'].astype(str).str.startswith('C')

In [65]:
df_all.head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,IsReturn,IsCancelled
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850.0,United Kingdom,15.30,False,False
1,536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom,20.34,False,False
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,17850.0,United Kingdom,22.00,False,False